<h1>Listing designs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @designs.each do |design| %>
    <tr>
      <td><%= link_to 'Show', design %></td>
      <td><%= link_to 'Edit', edit_design_path(design) %></td>
      <td><%= link_to 'Destroy', design, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Design', new_design_path %>
