<div> 
	<div class="small-4 small-offset-4 rows"><h2>Most Downloaded<h2></div>
	
	

		<div class="row">
			<ul class="no-bullet">
				<% @designs.each do |design| %>
				  <div class="small-4"><%= link_to design.title, design_path(design) %></div>
            <div class="small-4"><a class ="th radius" href="#"><img src="../assets/thumbnail.png" height="200" width="250"></a>
            </div>
				<% end %>
			</ul>
		</div>

</div>


