<div class="tabbable"> 
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Most Downloaded</a></li>
		<li><a href="#tab2" data-toggle="tab">Top Rated</a></li>
		<li><a href="#tab3" data-toggle="tab">Staff Picks</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<ul>
				<% @designs.each do |design| %>
				<li><%= link_to design.title, design_path(design)%></li>
				<% end %>
			</ul>
		</div>

		<div class="tab-pane" id="tab2">

		</div>
		<ul>
			<% @designs.each do |design| %>
			<li><%= link_to design.title, design_path(design)%></li>
			<% end %>
		</ul>
	</div>

	<div class="tab-pane" id="tab3">

	</div>
	<ul>
		<% @designs.each do |design| %>
		<li><%= link_to design.title, design_path(design)%></li>
		<% end %>
	</ul>
</div>
</div>
