<div> 
	<div class="small-4 small-offset-4 rows"><h2>Most Downloaded<h2></div>

		<div>
			<ul>
				<% @designs.each do |design| %>
				<li><%= link_to design.title, design_path(design)%></li>
				<% end %>
			</ul>
		</div>

</div>
