<div> 
	<ul class="no-bullet">
		<li>Most Downloaded</li>
	</ul>

		<div>
			<ul>
				<% @designs.each do |design| %>
				<li><%= link_to design.title, design_path(design)%></li>
				<% end %>
			</ul>
		</div>

</div>
